.main-content {
    background-color: white;
    border-radius: 20px;
    max-width: 60vw;
    width: 100%;
    box-shadow: 0 0 6px rgba(202, 228, 225, 0.42), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 1px rgba(191, 226, 255, 0.52), 0 0 10px rgba(191, 226, 255, 0.42), 0 0 34px rgba(191, 226, 255, 0.58), 0 0 54px rgba(191, 226, 255, 0.42);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

    &>div {
        display: flex;
        justify-content: center;
        width: 100%;

        h1 {
            text-decoration: underline;
            font-size: 130%;
            line-height: 100%;
        }

    }

    h1 {
        text-align: start;
        line-height: 150%;
        font-size: 100%;
        color: rgb(0, 0, 0);
    }


}